/* pillar.css */

.pillar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .pillar-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 300px;
    padding: 20px;
    margin: 10px;
  }
  
  
  .pillar-icon {
    font-size: 50px;
    color: #261c8d;
    margin-bottom: 15px;
  }
  
  .pillar-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .pillar-description {
    font-size: 14px;
    font-style: italic;
    color: #555;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .pillar-container {
      display: flex;
      justify-content: center;
    }
  
    .pillar-card {
      max-width: 90%;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .pillar-container {
      justify-content: space-between;
    }
  
    .pillar-card {
      max-width: 45%;
    }
  }
  
    /* General iPad responsiveness (from 768px to 1366px) */
@media screen and (min-width: 768px) and (max-width: 1366px) {

  .pillar-container{
    display: flex;
    justify-content: center;
  }
}