body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

  
@font-face {
    font-family: 'Proxima Nova LtLight';
    src: url('./fonts/ProximaNova-LightIt.woff') format('woff'),
         url('./fonts/ProximaNova-LightIt.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }